/**
 * Mixins
 */
@mixin horizontally-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin card {
  border-radius: 10px;
  text-align: center;
}

/**
 * HTML elements
 */
header {
  min-height: 5vh;
}

footer {
  min-height: 5vh;
}

body {
  background-color: black;
  color: white;
}

/**
 * Classes
 */
.grid {
  display: flex;
  justify-content: space-between;
}

.column {
  padding: 1rem;
}

.wide {
  &.one {
    flex: 1;
  }

  &.two {
    flex: 2;
  }

  &.three {
    flex: 3;
  }
}

.spaced {
  justify-content: space-around;
}

.main {
  min-height: 80vh;
}

.game {
  align-self: stretch;

  border: 1px red solid;
  position: relative;
}

.nav {
  border: 1px blue solid;
  position: relative;
}

.stacks {
  position: absolute;
  top: 37.5%;
  bottom: 45%;
  left: 30%;
  right: 30%;
}

.centered {
  text-align: center;
}

.card {
  @include horizontally-centered;
  @include card;
}

.hover {
  transition: transform 0.5s;

  &:hover {
    transform: translateY(-10px);
  }
}
